# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
.idea

# Compiled class file
*.class
target